body
{
/*	background: url(Images/body-bg.png) #f9f9f9;*/
	padding-bottom: 30px;
	color: #333333;
	font-family: arial,helvetica,geneva,sans-serif;
	font-size: 13px;
	line-height: 1.5;
}

.headerArea
{
	height: 70px;
	border-bottom: solid 1px #e8eef4;
}

.contentArea
{
	height:380px;
}

.footerArea
{
	height: 30px;
	border-top: solid 1px #e8eef4;
}

/* Marketing Page
--------------------------------------------------------*/
/*.modalBackground {
	background-color:Gray;
	-ms-filter:alpha(opacity=70);
	-ms-opacity:0.7;
}*/
.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}
.UCTable
{
	border-bottom: black thin solid;
	position: static;	
	text-align: justify;
	border-left: black thin solid;	
	display: block;	
	vertical-align: middle;
	border-top: black thin solid;
	border-right: black thin solid;
	background-color:Yellow;
	width:inherit;
	height:inherit;
	margin-top:0;
}
.UCPanel
{	
	margin-top:0;
	width: 820px;
	top:0px;
}
.UCPanelSmall
{	
	margin-top:0;
	width: 500px;
	top:0px;
}
.UCActionPanel
{	
	margin-top:0;	
	top:0px;
}
.collapsePanelHeader{
	width:100%;
	height:30px;
	background-image: url(../../Images/bg-menu-main.png);
	background-repeat:repeat-x;
	color:#FFF;
	font-weight:bold;
}
.TableTitle
{
	width: 160px;	
	text-align:center;
}
.TableCellTitle
{
	width: 215px;	
	text-align:right;
}
.TableCellControls
{
	width: 160px;
	height: 27px
}
.TableCellValidator
{
	width: 200px;	
}
.TableCellSKUValidator
{
	width: 400px;	
}
.TableCellBtnSave
{
	width: 200px;	
	height: 27px; 
	text-align: left;	
}
.ListTable td
{
	text-align: left;
}
.TestResultTable
{
	border-collapse: collapse;
}
.AddCertificationSKUError
{
	font-size: x-small;
	color: red;
	font-family: Verdana;
	font-weight: bold;
}

/*---------- Marketing Page MatlNum css --------------*/
.MatlNumTD
{
    clear:both; 
    text-align:left;
}
.MatlNumTD span 
{
    text-align:left !important;
}
.MatlNumTD input 
{
    padding:0px 2px;
}